<!DOCTYPE html>
<head>
  <title>SJ Performance - AI Assistant</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='SJ Performance LOGO.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='SJ Performance LOGO.png') }}" class="icon" />
  <h3>AI Assistant</h3>

  <!--  box to take in questions -->
  <form action="/" method="post">
    <label for = "question1"> question #1</label>    
    <textarea type="text" name="question1" placeholder="Enter an question" row="4" cols="60" style="height: 100px; width: 600px;"></textarea>    
  </br>
    
<!--  submit values to the form -->
    <label for = "temperature"> Temperature between 0 (precise) and 100 (vague)</label>    

    <input type="number" name="temperature" placeholder="Select Temperature between 0 and 1" min="0.0" max="1.0" step = "0.1" value="0.0" style="height: 40px; width: 100px;">       
    </br>

<!--  submit values to the form -->    
    <input type="submit" value="Generate an answer" style="height: 40px; width: 600px;">       
  </form>
  

<!--  results     -->  
{% if result %}
   <div class="multilineresponse">    
    {{ result }}  
  </div>
{% endif %}

</body>
